body {
    margin: 0;
    padding: 0;
    background-color: aquamarine;
    background-image: ;
    background-size: contain;
}
p {
    font-family: bvbmnmb,fyjh,fytfyj;
    font-size: 30px;
    color: aqua;
    font-weight: 700;
    font-style: italic;
    text-decoration: wavy;
    text-transform: capitalize;
    clear: both;
}
#para{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
}
img {
    float: left;
}